@mixin apCentral{
  // -----------------------------Landing page style------------------------------------------
  .pageHeadingCls{
    font-size: 22px;
    color: #649b02;
    border-bottom: 1px solid #649b02;
    margin-bottom: 10px;
    padding:10px;
    font-weight: bold;
    background:rgba(100, 155, 2, 0.2);
  }
  .apCentralCls{
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 1px 20px #000;
    width: 95.5%;
    height: 93.5%;
    margin: auto; //1em;
    
    .x-html{
      padding:0 !important;
    }
  }
}