@mixin fb_twitter{
  
  	.searchfieldInputCls{
        border-radius: 1em;
        line-height: 1.2em;
    }

    .searchfieldCls{
        border-radius: 1em;
        line-height: 1em;   
    }

    .fbTitlebarCls{
        color:#FFFFFF !important;
        border: 1px solid #2c539e !important;
        background: #2c539e !important; /* Old browsers */
        background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #2c539e 0%,#2c539e 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #2c539e 0%,#2c539e 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom, #eee 0%,#1122cc 50%, #1122cc 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ) !important; /* IE6-9 */
    }

    .fbIconBtnCls{
        -webkit-mask-image: url(../images/camera.png);
        height: 1.8em !important;
        width:  1.8em !important;
        color: white;
        background-size: 70% !important;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-mask-size: 100%;
        background: white;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
    }

    .fbBtnCls{
        color:#FFFFFF !important;
        border: 1px solid #2c539e !important;
        margin-left: 1em;
        margin-right: 1em;
        background: #2c539e !important; /* Old browsers */
        background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%) !important; /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)) !important; /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%) !important; /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #2c539e 0%,#2c539e 100%) !important; /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #2c539e 0%,#2c539e 100%) !important; /* IE10+ */
        background: linear-gradient(to bottom, #eee 0%,#1122cc 50%, #1122cc 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ) !important; /* IE6-9 */
    }
    .twitterToolbarCsl{
        background: #55acee !important;
    }

    .twitterSearchFieldCls{
        line-height: 1.2em;
    }

    .contactsToolbarCls{
        background: lightgray !important;
    }

    .contactsSearchFieldCls{
        line-height: 1.2em;
        border: 0px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        height: 1.5em;
        font-size: 1.2em;
        border-width: 0px !important;
    }

    .contactsSearchFieldInputCls{
        border: 0px;    
        border-width: 0px !important;
    }

    .refreshIconBtnCls{
        -webkit-mask-image: url(../images/refresh.png);
        height: 1.8em !important;
        width:  1.8em !important;
        color: white;
        background-size: 70% !important;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-mask-size: 100%;
        background: black;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
    }

    .refreshWhiteIconBtnCls{
        -webkit-mask-image: url(../images/refresh.png);
        height: 1.8em !important;
        width:  1.8em !important;
        color: white;
        background-size: 70% !important;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-mask-size: 100%;
        background: white;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
    }

    .logoutWhiteIconBtnCls{
        -webkit-mask-image: url(../images/power_on.png);
        height: 1.8em !important;
        width:  1.8em !important;
        color: white;
        background-size: 70% !important;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-mask-size: 100%;
        background: white;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
    }

    .backIconBtnCls{
        -webkit-mask-image: url(../images/back.png);
        height: 1.8em !important;
        width:  1.8em !important;
        color: black;
        background-size: 70% !important;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-mask-size: contain;
        background: black;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
    }

    .refreshBtnCls{
        padding-bottom: 6px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 6px !important;
        background: transparent !important;
        border: 0px !important;
        background-color: transparent !important;
    }

    .inviteBtnCls{
        font-size: 1.2em !important;
        margin: 0 !important;
        margin-top: 15px !important;
        margin-right: 15px !important;
        /* color: black !important; */
        /* background: lightgray !important;  */
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        background-color: #69a74e;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75ae5c), to(#67a54b));
        background-image: -moz-linear-gradient(#75ae5c, #67a54b);
        background-image: -o-linear-gradient(#75ae5c, #67a54b);
        background-image: linear-gradient(#75ae5c, #67a54b);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#75ae5c', EndColorStr='#67a54b');
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #98c286;
        border-radius: 0px;
    }

    .contactsListItemCls{
        .x-list .x-list-item{
            border-bottom: 0px !important;
        }
    }

    .contactsListItemSelectedCls{
        background: lightgray !important;
        border-top-color: transparent !important;
    }

    .nameClsContactsPage{
        font-weight: bold;
        font-size: 1.2em;
    }

    .mobileNumLblClsContactsPage{
        font-size: 0.9em;
        color: #5ab5f5;
    }

    .mobileNumClsContactsPage{
        font-size: 1em;
    }

    .hrClsContactsPage{
        border: 0;
        border-top: 1px solid lightgray;
    }

    .logoutBtnIconCls{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .logoutBtnCls{
        background: transparent !important;
        border: 0px !important;
    }

    .twtSegmentedBtnCls{
        background: #1d5a8a;
        color: white;
    }

    .twtSegmentedPressedBtnCls{
        background: #1d5a8a;
        color: white;
    }

    .twtSegmentedBtnContainerCls{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

}